.projects-nav ul {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-width: 1px;
}
.projects-nav a {
    color: black;
}
.projects-nav a:hover {
    color: #d85408;
}
.projects-nav a:active,
.projects-nav a:focus,
.projects-nav a:active:focus {
    box-shadow: none;
}
.form {
    display: flex;
    margin: auto;
    max-width: 850px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}
.form form {
    width: 80%;
    margin: auto;
}

.form-control {
    margin-bottom: 20px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {   
  box-shadow: none !important;
  border-color: #d85408 !important;
}
.btn-primary {
    background-color: #d85408;
    border-color: #d85408;
    float: right;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #a22c00 !important;
    border-color: #d85408 !important;
    box-shadow: none !important;
    outline: 0 none;
}