.client_details {
    max-width: 850px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.client_name {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}
.client_name a {
    display: flex;
    font-size: 30px;
    float: right !important;
    color: #ba621c;
}
.client_name a:hover {
    color: #a22c00;
    text-decoration: none;
}

.client_details ul {
    display: grid;
    grid-template-columns: auto;
    background-color: #f0f0f0 !important;
    min-width: 300px;
    border-radius: 8px;
    margin: 10px;
}

.data li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 30px;
    padding-top: 20px;
}
.projects li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-right: 30px;
    padding-top: 10px;
    margin-left: 25px;
}
.projects h4 {
    margin: auto;
    padding:13px;
}
.projects a {
    color: #ba621c;
}
.projects a:hover {
    color: #a22c00;
    text-decoration: none;
}
.field_data p, .field_data a {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}
.field_name p, .documents p {
    font-style: italic;
    color: gray;
}
