.projects-nav ul {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-width: 1px;
}
.projects-nav a {
    color: black;
}
.projects-nav a:hover {
    color: #d85408;
}
.project_details {
    max-width: 850px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}
.project_details .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project_details .header a, 
.assigned_workers_data a,
.assigned_workers_data .btn-primary {
    color: #d85408;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.assigned_workers_data .btn-primary {
    margin-top: -7px;
}
.assigned_workers_data a,
.assigned_workers_data .btn-primary {
    font-size: 24px;
}
.assigned_workers_data .btn-primary:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #6b4633;
    outline: none;
    border: none;
}
.assigned_workers_data .btn-primary:focus, 
.assigned_workers_data .btn-primary:active, 
.assigned_workers_data .btn-primary:active:focus {
    background-color: rgba(255, 255, 255, 0);
    color: #6b4633;
    outline: none;
    border: none !important;
    box-shadow: none !important;
}
.project_details .header a:hover,
.assigned_workers_data a:hover {
    color: #6b4633;
    text-decoration: none;
}
.assigned_workers_data {
    padding: 15px;
    background-color: #e6e6e6;
    border-radius: 12px;    
    padding-bottom: 0;
}
.table thead th {
    color: gray;
    font-weight: normal;
}
.table tbody th {
    font-weight: 500;
}

/*
.assigned_workers_data ul {
    width: 100%;
    padding-right: 30px;
}
.assigned_workers_data li {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}
*/
.row-headers li {
    background-color: white;
}