.projects-nav ul {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-width: 1px;
}
.projects-nav a {
    color: black;
}
.projects-nav a:hover {
    color: #ba621c;
}
.project_details {
    max-width: 850px;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.project_name {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}
.project_name a {
    display: flex;
    font-size: 30px;
    float: right !important;
    color: #ba621c;
}
.data {
    display: grid;
    grid-template-columns: auto;
}
.data li, .documents li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 30px;
    padding-top: 20px;
}

.main_data, .cons_site_address, .documents, .assigned_workers {
    background-color: #f0f0f0 !important;
    min-width: 300px;
    border-radius: 8px;
    margin: 10px;
}
.field_name p, .documents p, .assigned_workers p {
    font-style: italic;
    color: gray;
}
.field_data p, .field_data a, .assigned_workers a {
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}
.field_data a, .documents a, .assigned_workers a {
    color: #ba621c;
    padding-top: 3px;
    padding-bottom:3px;
}
.field_data a:hover, .documents a:hover, .project_name a:hover, .assigned_workers a:hover {
    color: #691c00;
    text-decoration: none;
}
.icons {
    display: flex;
    align-items: center;
}
.icons a {
    padding-right: 20px;
}
.cons_site_address .field_data {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}
.cons_site_address p {
    margin: auto;
}
.icons .btn {
    background-color: white;
    color: #ba621c;
    font-size: 30px;
    padding: 0;
    margin-bottom: 5px;
    outline: none;
    border: none;
}
.icons .btn:hover {
    background-color: white;
    color: #691c00;
    font-size: 30px;
    padding: 0;
    margin-bottom: 5px;
    outline: none;
    border: none;
}
.icons .btn:focus, .icons .btn:active, .icons .btn:active:focus {
    background-color: white;
    color: #691c00;
    font-size: 30px;
    padding: 0;
    margin-bottom: 5px;
    outline: none;
    border: none !important;
    box-shadow: none !important;
}
.modal-footer .btn-primary, .documents .btn-primary {
    background-color: #ba621c;
    outline-color: #ba621c;
    border-color: #ba621c;
}
.documents .btn-primary {
    display: flex;
    font-size: 20px;   
    padding-left: 7px;
    padding-right: 7px;
}
.modal-footer .btn-primary:hover,
.modal-footer .btn-primary:focus,
.modal-footer .btn-primary:active,
.modal-footer .btn-primary:active:focus,
.documents .btn-primary:active:focus,
.documents .btn-primary:hover {
    background-color: #691c00;
    outline-color: #ba621c;
    box-shadow: none !important;
    outline-color: #ba621c;
    border-color: #ba621c;
}
.main_data hr {
    width: 80%;
    border-color: rgb(189, 189, 189);
}
.edit_contacts {
    display: flex;
    align-items: center;
    justify-content: end;
    float: right;
    padding: 10px;
}
.edit_contacts a {
    color: #ba621c;
    margin-right: 20px;
    margin-bottom: 10px;
}
.edit_contacts a:hover,
.documents_header a:hover {
    color: #691c00;
    text-decoration: none;
}
.assigned_workers_data{
    display: flex;
    align-items: center;
    padding: 20px;
}
.assigned_workers_data table {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}
.documents_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.documents_header a {
    color: #ba621c;
}
.documents_header .dropdown .btn {
    background-color: white;
    color: #ba621c;
    border: none;
    outline: none;
}
.documents_header .dropdown .btn:hover,
.documents_header .dropdown .btn:active,
.documents_header .dropdown .btn:focus,
.documents_header .dropdown .btn:active:focus {
    color: #691c00;
    background-color: white;
    border: none;
    box-shadow: none;
}
.documents_header .dropdown-item {
    background-color: white;
    color: #ba621c;
    border: none;
    outline: none;
}
.documents_header .dropdown-item:hover,
.documents_header .dropdown-item:active,
.documents_header .dropdown-item:focus,
.documents_header .dropdown-item:active:focus {
    color: #691c00;
    background-color: white;
    border: none;
    box-shadow: none;
}
