{% extends 'overview/main.html' %} {% load static %} {% block add_styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'accounts/settings.css' %}"
/>
{% endblock %} {% block content %}
<div class="settings">
    <dic class="password_change">
  <form method="POST">
    {% csrf_token %} {{ form }}
    <ul>
      <li>
        Vaše geslo ne sme biti podobno vašim osebnim podatkom.
      </li>
      <li>Vaše geslo mora imeti vsaj 8 znakov.</li>
      <li>Vaše geslo mora vsebovati črke in števke.</li>
    </ul>
    <button class="btn btn-primary" type="submit">Shrani</button>
  </form>
  </div>
</div>
{% endblock %}
