body {
    background-color: #9e9895;
}
.nav-bar-div {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1b1b1b;
    background-image: linear-gradient(62deg, #303030 20%, #d84400 100%);
}
.nav-bar-div nav {
    display: flex;
    margin: auto;
    max-width: 1400px;
}
.nav-bar-div a {
    color: #ffffff;
}
.nav-bar-div a:hover {
    color: rgb(39, 39, 39);
}
.nav-bar-div h1 {
    color: white;
}
.nav-bar-div .dropdown button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #7a3311;
    border: none;
    margin-left: 8px;
    margin-top: 5px;
}
.dropdown button:hover {
    color: rgb(75, 75, 75);
}
.dropdown a {
    color: black;
}
.dropdown a:hover {
    color: #c85017;
}
.dropdown a:focus {
    background-color: gray;
}
.nav-bar-div hr {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}