body {
    background-color: #e4e4e4;
}
.nav-bar-div {
    background-color: #303030;
}
.nav-bar-div nav {
    display: flex;
    margin: auto;
    max-width: 1400px;
}
.nav-bar-div a {
    color: #ffffff;
}
.nav-bar-div a:hover {
    color: #c85017;
}
.nav-bar-div h1 {
    color: #c85017;
}
.nav-bar-div .dropdown button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4f4f4f;
    border: none;
    margin-left: 8px;
    margin-top: 5px;
}
.dropdown button:hover {
    color: #c85017;
}
.dropdown a {
    color: black;
}
.dropdown a:hover {
    color: #c85017;
}
.dropdown a:focus {
    background-color: gray;
}
.nav-bar-div hr {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}