body {
    background-color:#303030;
}
.nav-bar-div {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #d85408; /*
    background-image: linear-gradient(62deg, #9c3212 50%, #ffca43 100%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #888888;*/
}
.nav-bar-div nav {
    display: flex;
    margin: auto;
    max-width: 1400px;
}
.nav-bar-div a {
    color: #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    padding: 6px;
}
.nav-bar-div a:hover {
    color:#253812;
}
.nav-bar-div h1 {
    color: white;
}
.nav-bar-div .dropdown button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e09d30;
    border: none;
    margin-left: 8px;
    margin-top: 5px;
}
.dropdown button:hover {
    color: #253812;
}
.dropdown a {
    color: #253812;
}
.dropdown a:hover {
    color: #d85408;
}
.dropdown a:focus {
    background-color: #253812;
}
.nav-bar-div hr {
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
