.overview {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-radius: 16px;
}
.graph_container, .graph_container1 {
    padding: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin-top: 3vh;
}
.projects-chart, .workers-chart {
    margin-top: 1vh;
}