{% extends "overview/main.html" %} {% load static %} {% block add_styles %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'projects/add_client.css' %}"
/>{% endblock %} {% block content %}
<div class="projects-nav">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/projekti/">Vsi projekti</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projekti/novprojekt/">Nov projekt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/projekti/novastranka/">Nova stranka</a>
    </li>
  </ul>
</div>
<div class="form">
  <form method="POST"> {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Dodaj stranko</button>
  </form>
</div>

{% endblock %}

