{% extends "overview/main.html" %} {% load static %} {% block add_styles %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'projects/project_details.css' %}"
/>{% endblock %} {% block content %}
<div class="project_details">
  <div class="project_name">
    <h3>{{ project.project_name }}</h3>
    <div class="icons">
      <a href="/projekti/{{project.id}}/uredi/">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-pencil-square"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
          />
          <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
          />
        </svg>
      </a>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#delete-modal"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-trash"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
          />
          <path
            fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div
    class="modal fade"
    id="delete-modal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Ali ste prepričani, da želite izbrisati ta projekt?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Prekliči
          </button>
          <form action="/projekti/{{project.id}}/izbrisi/" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Izbriši</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="data">
    <div class="main_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Izvajalec</p>
          </div>
          <div class="field_data">
            <p>{{ project.contractor }} d. o. o.</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Naročnik</p>
          </div>
          <div class="field_data">
            <a href="/projekti/stranka/{{ project.client.id }}"
              >{{ project.client }}</a
            >
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Številka pogodbe</p>
          </div>
          <div class="field_data">
            <p>{{ project.contract_num }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Pogodbena vrednost</p>
          </div>
          <div class="field_data">
            <p>{{ project.contract_value }} €</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Urna postavka</p>
          </div>
          <div class="field_data">
            <p>{{ project.hourly_rate }} €</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="cons_site_address">
      <ul>
        <li>
          <div class="field_name">
            <p>Naslov gradbišča</p>
          </div>
          <div class="field_data">
            {% if address %}
            <p>
              {{ address.street }}, {{ address.zip_code }} {{ address.city }},
              {{ address.country }}
            </p>
            <a href="/projekti/{{project.id}}/uredinaslov/">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-pencil-square"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>
            </a>
            {% else %}
            <a href="/projekti/{{project.id}}/dodajnaslov/"
              >Dodaj naslov gradbišča</a
            >
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
    {% if contact_info %}
    <div class="main_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Odgovorna oseba za pogodbo s strani naročnika</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_client_name }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Email</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_client_email }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Telefon</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_client_phone_num }}</p>
          </div>
        </li>
        <hr />
        <li>
          <div class="field_name">
            <p>Odgovorna oseba za pogodbo s strani izvajalca</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_contractor_name }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Email</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_contractor_email }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Telefon</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_contractor_phone_num }}</p>
          </div>
        </li>
        <hr />
        <li>
          <div class="field_name">
            <p>Odgovorna oseba na gradbišču s strani naročnika</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_on_site_name }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Email</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_on_site_email }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Telefon</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_on_site_phone_num }}</p>
          </div>
        </li>
        <hr>
        <li>
          <div class="field_name">
            <p>Zakonit zastopnik - naročnik</p>
          </div>
          <div class="field_data">
            {% if contact_info.client_contract_signer %}
            <p>{{ contact_info.client_contract_signer }}</p>
            {% endif %}
          </div>
        </li>
      </ul>
      <div class="edit_contacts">
        <a href="/projekti/kontaktnipodatki/{{project.id}}/uredi/">
          Uredi kontaktne podatke
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-pencil-square"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </a>
      </div>
    </div>
    {% else %}
    <div class="documents">
      <ul>
        <li>
          <a href="/projekti/kontaktnipodatki/{{project.id}}"
            >Dodaj kontaktne podatke</a
          >
        </li>
      </ul>
    </div>
    {% endif %}
    <div class="documents">
      <div class="document">
        <ul>
          <li>
            {% if project_doc %}
            <p>Projektni list</p>

            <a
              href="{{project_doc.project_doc.url}}"
              download="{{project_doc.project_doc.url}}"
              >{{ project_doc.title }}.docx</a
            >
            <form
              action="/dokumenti/izbrisi-projektni-list/{{project_doc.id}}/"
              method="Post"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </form>
            {% else %}
            <p>Projektni list</p>
            <a href="/dokumenti/projektnilist/{{ project.id }}"
              >Pripravi dokument</a
            >
            {% endif %}
          </li>

          <li>
            {% if contract_doc %}
            <p>Pogodba</p>

            <a
              href="{{contract_doc.contract.url}}"
              download="{{contract_doc.contract.url}}"
              >{{ contract_doc.title }}.docx</a
            >
            <form
              action="/dokumenti/izbrisi-pogodba/{{contract_doc.id}}/"
              method="Post"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">
                <svg
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  class="bi bi-trash"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  />
                </svg>
              </button>
            </form>
            {% else %}
            <p>Pogodba</p>
            <a href="/dokumenti/pogodba/{{ project.id }}">Pripravi dokument</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
