{% extends 'overview/main.html' %} {% load static %} {% block add_styles %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'projects/project_details_documents.css' %}"
/>{% endblock %} {% block title %} {{ project.project_name }} - Dokumenti {% endblock %} {% block content %}
<div class="projects-nav">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a type="button" class="btn" href="/projekti/">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projekti/{{project.id}}/">Osnovni podatki</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projekti/{{project.id}}/delavci/">Delavci</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/projekti/{{project.id}}/dokumenti/"
        >Dokumenti</a
      >
    </li>
  </ul>
</div>
<div class="project_details">
  <div class="documents_header">
    <h3>Dokumenti - {{ project.project_name }}</h3>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenu2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Dodaj prilogo
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a
          class="dropdown-item"
          href="/projekti/{{project.id}}/dokumenti/dodajaneks/"
          >Aneks</a
        >
      </div>
    </div>
  </div>
  <div class="documents">
    <div class="document">
      <ul>
        <li>
          {% if project_doc %}
          <p>Projektni list</p>

          <a
            href="{{project_doc.project_doc.url}}"
            download="{{project_doc.project_doc.url}}"
            >{{ project_doc.title }}.docx</a
          >
          <form
            action="/dokumenti/izbrisi-projektni-list/{{project_doc.id}}/"
            method="Post"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </form>
          {% else %}
          <p>Projektni list</p>
          <a href="/dokumenti/projektnilist/{{ project.id }}"
            >Pripravi dokument</a
          >
          {% endif %}
        </li>

        <li>
          {% if contract_doc %}
          <p>Pogodba</p>

          <a
            href="{{contract_doc.contract.url}}"
            download="{{contract_doc.contract.url}}"
            >{{ contract_doc.title }}.docx</a
          >
          <form
            action="/dokumenti/izbrisi-pogodba/{{contract_doc.id}}/"
            method="Post"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </form>
          {% else %}
          <p>Pogodba</p>
          <a href="/dokumenti/pogodba/{{ project.id }}">Pripravi dokument</a>
          {% endif %}
        </li>
        {% for anex in anex_data %}
        <li>
          {% if anex.doc %}
          <p>Aneks št. {{ anex.anex_num }}</p>

          <a
            href="{{anex.doc.anex_doc.url}}"
            download="{{anex.doc.anex_doc.url}}"
            >{{ anex.doc.title }}.docx</a
          >
          <form
            action="/dokumenti/aneks/izbrisi/{{anex.doc.id}}/"
            method="Post"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                />
                <path
                  fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                />
              </svg>
            </button>
          </form>
          {% else %}
          <p>Aneks št. {{ anex.anex_num }}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-modal-{{anex.id}}" id="delete-anex">
            Odstrani aneks
          </button>
          <div
              class="modal fade"
              id="delete-modal-{{anex.id}}"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <p>Ali ste prepričani, da želite odstraniti podatke o aneksu za ta projekt?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                      Prekliči
                    </button>
                    <form action="/projekti/{{project.id}}/dokumenti/odstranianeks/{{ anex.id }}/" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Odstrani</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <a href="/dokumenti/aneks/{{ project.id }}/{{ anex.id }}/">Pripravi dokument</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
