{% extends "overview/main.html" %} {% load static %} {% block add_styles %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'projects/projects_overview.css' %}"
/>{% endblock %} {% block content %}
<div class="projects-nav">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="/projekti/">Vsi projekti</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projekti/novprojekt/">Nov projekt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projekti/novastranka/">Nova stranka</a>
    </li>
  </ul>
</div>
<div class="body">
  <div class="search">
    <form action="/projekti/najdi/" method="GET">
      <input type="text" class="form-control" name="q" placeholder="Najdi..." />
      <button class="btn search">
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-search"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
          />
          <path
            fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
          />
        </svg>
      </button>
    </form>
  </div>
  <div class="head">
    <h6>Ime projekta</h6>
    <h6>Stranka</h6>
  </div>
  <hr />
  {% for project in projects %}
  <div class="project">
    <a class="nav-link" href="/projekti/{{ project.id }}"
      >{{ project.project_name }}</a
    >
    <p>{{ project.client}}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
