{% extends "overview/main.html" %} {% load static %} {% block add_styles %}<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'projects/project_details.css' %}"
/>{% endblock %} {% block content %}
<div class="project_details">
  <div class="project_name">
    <h3>{{ project.project_name }}</h3>
  </div>
  <div class="data">
    <div class="main_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Izvajalec</p>
          </div>
          <div class="field_data">
            <p>{{ project.contractor }} d. o. o.</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Naročnik</p>
          </div>
          <div class="field_data">
            <a href="/projekti/stranka/{{ project.client.id }}">{{ project.client }}</a>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Naslov gradbišča</p>
          </div>
          <div class="field_data">
            {% if address %}
            <p>
              {{ address.street }}, {{ address.zip_code }} {{ address.city }},
              {{ address.country }}
            </p>
            {% else %}
            <a href="#">Dodaj naslov gradbišča</a>
            {% endif %}
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Številka pogodbe</p>
          </div>
          <div class="field_data">
            <p>{{ project.contract_num }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="financial_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Pogodbena vrednost</p>
          </div>
          <div class="field_data">
            <p>{{ project.contract_value }} €</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Urna postavka</p>
          </div>
          <div class="field_data">
            <p>{{ project.hourly_rate }} €</p>
          </div>
        </li>
      </ul>
    </div>
    {% if contact_info %}
    <div class="main_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Odgovorne osebe za pogodbo s strani naročnika</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_client_name }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Email</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_client_email }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Telefon</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_client_phone_num }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="main_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Odgovorne osebe za pogodbo s strani izvajalca</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_contractor_name }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Email</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_contractor_email }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Telefon</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_contractor_phone_num }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="main_data">
      <ul>
        <li>
          <div class="field_name">
            <p>Odgovorne osebe na gradbišču s strani naročnika</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_on_site_name }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Email</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_on_site_email }}</p>
          </div>
        </li>
        <li>
          <div class="field_name">
            <p>Telefon</p>
          </div>
          <div class="field_data">
            <p>{{ contact_info.resp_on_site_phone_num }}</p>
          </div>
        </li>
      </ul>
    </div>
    {% else %}
    <div class="documents">
      <ul>
        <li>
          <a href="/projekti/kontaktnipodatki/{{project.id}}">Dodaj kontaktne podatke</a>
        </li>
      </ul>
    </div>
    {% endif %}
    <div class="documents">
      <div class="document">
        <ul>
          <li>
            {% if project_doc %}
            <p>Projektni list</p>

            <a
              href="{{project_doc.project_doc.url}}"
              download="{{project_doc.project_doc.url}}"
              >{{ project_doc.title }}.docx</a
            >
            {% else %}
            <p>Projektni list</p>
            <a href="/dokumenti/projektnilist/{{ project.id }}"
              >Pripravi dokument</a
            >
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
